<article class="article-cards {% if loop.first %}featured{% endif %}">
     {% if loop.first %}
      <span class="featured-banner">
        <i class="bi bi-bookmark-star"></i> Latest Post
      </span>
    {% endif %}
    <img src="/assets{{ post.data.image }}" alt="{{ post.data.imageAlt }}" class="snippet__image">
    <div>
        <h3>
            <a href="{{ post.url }}">{{ post.data.title }}</a>
        </h3>
        <p><span>{{ post.data.date | postDate }}</span></p>
        <p>This is a new article that I&#39;ll be posting</p> 
        <a role="button" href="{{ post.url }}" class="secondary outline">Read More</a>
    </div>
</article>
