<!DOCTYPE html>
<html lang="en" data-theme="dark">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/styles/style.css">
    <script src="/scripts/main.js" defer></script>
    <script src="https://identity.netlify.com/v1/netlify-identity-widget.js" defer></script>
    <link href="https://unpkg.com/prismjs@1.20.0/themes/prism-okaidia.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css">
    <link rel="icon" type="image/x-icon" href="/assets/logo/lightsaber-only-black.svg">
    {% metagen 
      title=title,
      desc=description,
      url='https://thisjedicodes.netlify.app' + page.url,
      img='/assets' + image,
      img_alt=imageAlt,
      twitter_card_type='summary_large_image',
      twitter_handle='johnmlilly_',
      name=author,
      generator='eleventy'
    %}
    <script defer src="https://cloud.umami.is/script.js" data-website-id="8a49591b-b2dd-4dc5-b6e6-455feb68069a"></script>
  </head>
  <body>
    {% include 'header.njk' %}
    <main>
        {{ content | safe }}
    </main>
    {% include 'footer.njk' %}
  </body>
</html>