<footer class="container">
  <div class="site-footer ">
      <div>
      <p>&copy; {% year %} John Lilly // Built on <a href="https://www.11ty.dev/">11ty</a> using <a href="https://picocss.com/">Pico CSS</a></p> 
  </div>
  <div>
    <a href="https://github.com/johnmlilly" target="_blank" aria-label="John Lilly's Github Profile">
            <i class="bi bi-github"></i>
        </a>
        <a href="https://www.linkedin.com/in/johnmlilly/" target="_blank" aria-label="John Lilly's LinkedIn Profile">
            <i class="bi bi-linkedin"></i>
        </a>
        <a href="https://x.com/johnmlilly_" target="_blank" aria-label="John Lilly's X Profile">
            <i class="bi bi-twitter-x"></i>
        </a>
    </div>
  </div>
</footer>