 <header>
    <nav class="container">
      <a href="#/"><p>Home</p></a>
      <a href="/meet-kara"><p>Meet Kara</p></a>
      <a href="/the-experience"><p>Experience</p></a>
      <a href="/portfolio"><p>Portfolio</p></a>
      <a href="/blog"><p>Blog</p></a>
      <a href="/contact"><p>Contact</p></a>
    </nav>
    <div class="grid">
      <p>Serving Virginia, Washington D.C.<br>and Maryland</p>
      <a href="https://karalorynphotography.com" target="_self">
      <img src="/assets/logo/kara-loryn-photography-logo-dark-green.png" alt="Kara Loryn Photography" />
      </a>
      <div>
        <i class="bi bi-facebook"></i>
        <i class="bi bi-instagram"></i>
        <a role="button" href="/contact" target="_self">Inquire <i class="bi bi-arrow-right"></i></a>
      </div>
    </div>
</header>