 <header>
    <nav class="container">
      <ul>
        <li>
            <a href="/">
              <img loading="eager" class="logo" src="/assets/logo/Full-logo-white.png" alt="John Lilly logo" aria-label="John Lilly's Logo"/>
            </a>
        </li>
      </ul>
      <ul>
        <li>
          <a href="/">Home</a>
        </li>
        <li>
          <a href="/blog/">Blog</a>
        </li>
      </ul>
    </nav>
</header>