:root {
  --fs-small: 0.8rem;
  --fs-default: 1rem;
  --fs-medium: 1.5rem;
  --fs-large: 2rem;

  --ff-body: "IBM Plex Sans", sans-serif;
  --ff-heading: "IBM Plex Sans", sans-serif;
  --pico-font-family: "IBM Plex Sans", "sans-serif";

  --fw-400: 400;
  --fw-700: 600;
  --fw-900: 700;

  --clr-primary: hsla(210, 28%, 9%, 1);
  --clr-secondary: #FFBF00;
  --clr-white: hsla(0, 0%, 100%, 1);
  --clr-green: hsla(120, 100%, 50%, 1);
  --clr-light-gray: hsla(0, 0%, 80%, 1);
  --clr-darker-gray: hsla(0, 0%, 40%, 1); 
  --clr-dark-gray: hsla(0, 0%, 10%, 1); 
  --pico-block-spacing-vertical: 3rem;

}

/* //////////////////////
  RESET - source: https://piccalil.li/blog/a-modern-css-reset
  /////////////////////// */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* IBM Plex Sans Font */

@font-face {
  font-family: "IBM Plex Sans";
  font-style: normal;
  font-weight: 400;
  src: url('/assets/fonts/IBMPlexSans-Regular.ttf') format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "IBM Plex Sans";
  font-style: normal;
  font-weight: 600;
  src: url('/assets/fonts/IBMPlexSans-Semibold.ttf') format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "IBM Plex Sans";
  font-style: normal;
  font-weight: 700;
  src: url('/assets/fonts/IBMPlexSans-Bold.ttf') format("truetype");
  font-display: swap;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul:where([role="list"]),
ol:where([role="list"]) {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Set core root defaults */
html {
  scroll-behavior: smooth;

}

/* Set core body defaults */
body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  color: var(--clr-white);
  font-family: var(--ff-body);
}

section:not(:first-child) {
  margin-block: 3rem;
}

@media (min-width: 992px) {
  .article-container.container {
    max-width: 800px;
  }
}


/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  display: block;
  width: 100%;
  max-width: 100%;
  height: auto;
}

.logo {
  height: 75px;
  width: auto;
}

h1,
h2,
h3 {
  font-family: var(--ff-body);
  font-weight: var(--fw-900);
  line-height: 1.1;
}

.hero__content {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}

.hero__image {
  width: 100%;
  filter: grayscale(1);
}

@media (min-width: 768px) {
  .grid.grid-3 {
    grid-template-columns: repeat(3, 1fr);
  }
}

article {
  padding: 0 !important;
}

.article-cards div {
  padding: 1rem;
}

.article-cards img {
  height: 12rem;
  object-fit: cover;
  border-radius: 0.5rem 0.5rem 0 0;
}

.article-cards h3 a {
  text-decoration: none;
}

.article-cards a[role=button] {
  margin-block: 1rem;
  padding: 0.5rem;
  font-size: var(--fs-small);
  text-transform: uppercase;
}

.featured {
  position: relative;
}

.featured-banner {
  position: absolute;
  inset: 0 auto auto 0;
  background: var(--clr-light-gray);
  color: var(--clr-primary);
  padding: 8px 15px;
  font-size: var(--fs-small);
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 5px;
  border-top-left-radius: 0.5rem;
  text-transform: uppercase;
}

.featured-banner i {
  font-size: 1rem;
}

figure {
  padding-block: 0 1.5rem !important;
}

figure caption {
  margin: 1rem 0;
  font-size: var(--fs-small);
  opacity: .9;
}

.star-wars-quote {
  padding-block: 1.5rem 0;
}

.star-wars-quote h2 {
  font-size: 1.8rem;
  color: var(--clr-green)
}

.star-wars-quote blockquote {
  font-style: italic;
  margin: 1rem 0;
  font-size: 1.2rem;
  border: none;
}

.star-wars-quote blockquote span {
  margin-top: 0.5rem;
  font-size: 0.9rem;
}

.star-wars-quote blockquote, .star-wars-quote p, .star-wars-quote span {
  color: var(--clr-white);
}

.console {
  background: var(--clr-dark-gray);
  border: 5px solid #555;
  border-radius: 10px;
  padding: 1rem;
  width: 90%;
  max-width: 600px;
  margin: 2.5rem auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.console-screen {
  background: var(--clr-darker-gray);
  padding: 1rem;
  color: #00ff00;
  font-family: "Courier New", Courier, monospace;
  text-align: center;
  border: 2px solid #444;
}

.star-wars-quote__icon {
  width: 60px;
  margin: 1rem auto 0.5rem auto;
}

/* //////////////////////
  Individual article page
  /////////////////////// */
/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* //////////////////////
  General styling
  /////////////////////// */

.code-language-header {
    background: var(--clr-darker-gray);
    padding: 0.5rem 0.75rem;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    display: flex;
    align-items: center;
    margin: -1.1rem;
    margin-bottom: 1rem;
    justify-content: space-between;
    font-family: var(--ff-body);
    color: var(--clr-neutral-200);
}

pre[class*="language-"] {
  margin: 1.5rem auto !important;
  max-width: 600px;
  font-size: 0.9rem !important;
}

pre:has(code) button {
  background-color: var(--clr-darker-gray);
  border: 1px ridge var(--clr-white);
  color: var(--clr-neutral-200);
  border-radius: 0.5rem;
  padding: 0.25rem 0.5rem;
  font-size: var(--fs-small);
}

pre:has(code) button:hover, pre:has(code) button:focus {
  cursor: pointer;
  background-color: var(--clr-darker-gray);
}

iframe {
  aspect-ratio: 16 / 9;
  border-radius: 0.5rem;
  width: 100%;
}

/* //////////////////////
  Utility Classes
  /////////////////////// */

  .text-center {
    text-align: center;
  }

/* //////////////////////
  Footer
  /////////////////////// */

.site-footer {
  --logo-color: currentColor;
  padding: 1rem 0;
  border-top: 2px solid var(--clr-white);
  display: flex;
  justify-content: space-between;
  font-size: 0.9rem;
}

.site-footer div:nth-child(2) {
  display: flex;
  gap: 0.5rem;
}

.site-footer div:nth-child(2) a {
  color: var(--clr-white);
  font-size: var(--fs-default);
}

.site-footer p {
  color: var(--clr-white);
}


.snippet__tags {
  display: flex;
  gap: 0.5rem;
  list-style: none;
  padding: 0 0 1rem 0;
  font-size: 0.9rem;
  color: var(--clr-light-gray);
  text-transform: uppercase;
}

.snippet__tags li {
  border: 1px solid var(--clr-neutral-200);
  border-radius: 0.25rem;
  padding: 0.25rem 0.5rem;
}
