/* Custom preview styles for Decap CMS */
body {
    font-family: 'Raleway', sans-serif;
    background-color: #f5f7fa; /* Light gray background */
    color: #333; /* Dark text color */
    line-height: 1.6;
    padding: 0.5rem 2.5rem;
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-family: 'Playfair', sans-serif; /* Star Wars style for headings */
    color: #333;
  }
  
  p {
    color: #333;
}
  

  a {
    color: var(--clr-primary-400);
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  img {
    max-width: 100%;
    height: auto;
    margin-block: 1rem;
    border-radius: 0.25rem;
  }
  