---
title: My Blog | John Lilly
layout: 'base.njk' 
---
  
<section class="container">
  <h1>Recent posts</h1>
  <div class="grid grid-3">
  {%- for post in collections.post | reverse -%}
    {% include 'article-snippet.njk' %}
  {%- endfor -%}
  </div>
</section>