---
title: John Lilly
layout: 'base.njk'
image: '/logo/Full-logo-red.png'
description: Welcome to John Lilly's blog
---
 
  <section class="container">
    <div class="grid">
      <div class="hero__content">
        <h1>Hello there!</h1>
        <p>My name is <strong>John Lilly</strong> and I'm a full stack web developer. I'm passionate about using the latest technology to help others achieve their goals. </p>
          <a class="contrast" role="button" href="#featured-articles">Featured articles</a>
      </div>
      <div>
        <img loading="eager" src="/assets/John-Lilly_headshot-1.jpg" alt="John Lilly Headshot" class="hero__image">
      </div>
    </div>
  </section>

<section id="featured-articles" class="container">
  <div>
    <h2 class="text-center">Recent posts</h2>
    <p>Here is a sample of articles which I feel give you a good idea of what this site is all about.</p>
     <div class="grid grid-3">
    {%- for post in collections.featured | reverse -%}
      {% include 'article-snippet.njk' %}
    {%- endfor -%}
    </div>
  </div>
</section> 